<h2>Welcome to you Savings!</h2>
<h4>Add your savings for accurate calculations </h4>
<div class="container">
    <div class="tbl-header">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Update</th>
            </tr>
        </thead>
    </table>
    </div>
    <div>
    <table>
        <tbody>
            <tr *ngFor="let savings of saving">
                <td>{{ savings.id }}</td>
                <td>{{ savings.type }}</td>
                <td>{{ savings.amount }}</td>
                <td><button class="btn btn-up" (click)="updateToggler(savings.id)">Update</button>
                    <button class="btn btn-del" (click)="deleteSavings(savings.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
    <div class="row">
        <div class="add " style="margin: auto; text-align: center; width: 500px; padding: 10px 0px;">
            <button class="addButton btn col-md-4 btn-success" id="add-sav"(click)="addSavingsToggler()">Add savings</button>
            <div class="add" *ngIf="addSavingsToggle" style="padding-top:10px; width: fit-content; margin: auto;">
                <h3 style="margin: auto; text-align: center; width: 125px;">Add savings</h3>
                <form class="card-body" (ngSubmit)="addSavings(savings)" style="padding-top: 10px;">
                    <mat-form-field appearance="fill">
                        <input matInput placeholder="Source" value="{{savings.type}}" [(ngModel)]="savings.type" name="source">
                    </mat-form-field><br>
                    <mat-form-field appearance="fill">
                        <input matInput placeholder="Amount" value="" [(ngModel)]="savings.amount" name="amount">
                    </mat-form-field><br>
                    <button class="btn btn-submit" style="padding-top: 10px;" type="submit">Submit</button>
                </form >
            </div>
        </div>
    </div>
    <div class="update col-md-4" *ngIf="updateToggle" style="padding-top:10px; width: fit-content; margin: auto;">
        <h3 style="margin: auto; text-align: center; width: 200px;">Update {{user.username}}'s savings</h3>
        <form class="card-body" (ngSubmit)="updateSavings(currentSavingsId)" style="padding-top: 10px;">
            <mat-form-field appearance="fill">
                <input matInput placeholder="Source" value="{{savings.type}}" [(ngModel)]="savings.type" name="source">
            </mat-form-field><br>
            <mat-form-field appearance="fill">
                <input matInput placeholder="Amount" value="" [(ngModel)]="savings.amount" name="amount">
            </mat-form-field><br>
            <button class="btn btn-submit" style="padding-top:10px;" type="submit">Submit</button>
        </form >
    </div>
</div>