.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
    padding: 10%;
    padding-bottom: 8%;
    font-size: 250%;
    font-weight: bold;
}
.welcome2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
    font-size: 250%;
    font-weight: bold;
}
img {
    border-radius: 25px;
    margin-top: 5%;
    margin-left: 25%;
    height: 50%;
    width: 50%;
}