<div class="names">
    <li>
        <h1>James Brennan</h1>
        <h3>Full Stack Tech Lead</h3>
    </li>
    <li>
        <h1>Dominic DiMarcello</h1>
        <h3>Front End Architect</h3>
    </li>
    <li>
        <h1>Michael Leahey</h1>
        <h3>Front End Architect</h3>
    </li>
    <li>
        <h1>Wendy De La Cruz Lorenzo</h1>
        <h3>Back End Architect</h3>
    </li>
    <li>
        <h1>Roy Rasley</h1>
        <h3>Back End Architect</h3>
    </li>
    <li>
        <h1>Connor Shillady</h1>
        <h3>AWS Specialist</h3>
    </li>
</div>
